html, body {
    padding: 80px
}

.pure-u-1-2 img {
    width: 45vw;
}

html { background-color: #000; } 
body {
    min-height: 1200vh;
    max-width: 850px;
    background-color: papayawhip; 
    margin: 0 auto;
}

h1{
    font-family: 'Lora', serif;
    color: white;
    font-size: 48px;
    font-weight: bold;
    background-color: #008000;
    padding: 10px;
}

h2{
    font-family: 'Lora', serif;
    color: #008000;
    font-size: 24px;
    padding: 10px;
}

p{
font-family: 'Lora', sans-serif;
        padding: 10px;
}

