html { background-image: "Wheat1.jpg"}; 

body {
    padding: 40px;
    height: 1200px;
    width: 400px;
    background-color: #FFFFFF; 
    margin: 0 auto;
}

.pure-u-1-2 img {
    width: 500px;
    padding: 40px;
}

.pure-u-1-2 img {
    width: 400px;
    padding: 40px;
}

h1{
    font-family: 'Lora', serif;
    color: white;
    font-size: 48px;
    font-weight: bold;
    background-color: #008000;
    padding: 40px;
}

h2{
    font-family: 'Lora', serif;
    color: #008000;
    font-size: 36px;
    padding: 40px;
}

h2{
    font-family: 'Lora', serif;
    color: black;
    font-size: 24px;
    padding: 40px;
}

p{
font-family: 'Lora', sans-serif;
        padding: 40px;
}

